---
import HeadingText from "@components/UI/HeadingText.astro";
import { useTranslations } from "@i18n/utils";
import type { Lang } from "@i18n/ui";

export interface Props {
  id?: string;
  lang?: Lang;
}

const { id, lang = "es" } = Astro.props;
const t = useTranslations(lang);
const faqs = t["faq.items"];
---

<section
  id={id}
  class="w-full flex px-4 autoShow flex-col items-center justify-center py-20 scroll-mt-24"
>
  <div class="w-full max-w-7xl container mx-auto flex flex-col justify-center">
    <div
      class="mb-10 flex flex-col justify-center gap-4 align-middle items-center"
    >
      <HeadingText
        level={2}
        text={t["faq.headingStart"]}
        textGradient={t["faq.headingGradient"]}
        className="text-center text-3xl font-bold md:text-5xl tracking-tight"
      />

      <p class="section-muted text-center max-w-2xl mx-auto">
        {t["faq.subtitle"]}
      </p>
    </div>

    <div class="grid grid-cols-1 gap-x-8 gap-y-4">
      {
        faqs.map((faq) => (
          <details class="faq-item">
            <summary>
              <span>{faq.question}</span>
              <div class="faq-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M5 12h14" />
                  <path d="M12 5v14" />
                </svg>
              </div>
            </summary>
            <div class="faq-answer">
              <p>{faq.answer}</p>
            </div>
          </details>
        ))
      }
    </div>
  </div>
</section>

<style>
  @reference "../../styles/global.css";

  /* Estilos para details/summary */
  details {
    @apply p-3.5 rounded-lg border hover:border-[var(--primary)]  transition-all duration-300 cursor-pointer  shadow-md;
    border-color: var(--card-border);
    background-color: var(--card-bg);
  }

  summary {
    @apply flex items-center justify-between text-sm font-medium list-none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::marker {
    display: none;
  }

  .faq-answer {
    @apply text-sm  leading-relaxed mt-4;
    max-height: 0;
    opacity: 0;
    transition: all 500ms ease;
    overflow: hidden;
  }

  details[open] .faq-answer {
    max-height: 500px;
    opacity: 1;
  }

  .faq-icon {
    @apply rounded transition-all duration-500 size-5;
    transform: rotate(0deg);
  }

  details[open] .faq-icon {
    @apply bg-slate-200 text-slate-500;
    transform: rotate(180deg);
  }

  .faq-icon svg {
    transition: transform 500ms ease;
  }
</style>
