---
import HeadingText from "@components/UI/HeadingText.astro";
import FeatureCard from "@components/UI/FeatureCard.astro";
import { useTranslations } from "@i18n/utils";
import type { Lang } from "@i18n/ui";

export interface Props {
  id?: string;
  lang?: Lang;
}

const { id, lang = "es" } = Astro.props;
const t = useTranslations(lang);

const services = t["services.items"];
---

<section id={id} class="mt-24 scroll-mt-24 autoShow">
  <HeadingText
    level={2}
    text={t["services.headingStart"]}
    textGradient={t["services.headingGradient"]}
    className="text-left text-3xl font-bold md:text-5xl tracking-tight"
  />

  <div class="mt-6 grid gap-4 md:grid-cols-3">
    {
      services.map((service) => (
        <FeatureCard title={service.title} description={service.description} />
      ))
    }
  </div>
</section>
