---
import TheFooter from "../components/TheFooter.astro";
import "../assets/css/main.css"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Description here">
		<title>Astro</title>
	</head>
	<body>
		<h1>Landing</h1>
		<TheFooter/>
	</body>
</html>
